

.bapak1, .bapak2, .bapak3 {
    display: flex;
    flex-direction: row;
    }

 .anak1 {
     width: 100px;
    height: 100px;
    border:black 4px solid;
    background-color: red;
 }
 .anak2 {
     width: 100px;
    height: 100px;
    border: black 4px solid;
    background-color: green;
 }
 .anak3 {
     width: 100px;
    height: 100px;
    border: black 4px solid;
    background-color: blue;
 }





